[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SwapnilRC1995
[access "refs/for/refs/*"]
	read = group user/SwapnilRC1995
	push = group user/SwapnilRC1995
	label-Code-Review = -2..+2 group user/SwapnilRC1995
	label-Verified = -1..+1 group user/SwapnilRC1995
	rebase = group user/SwapnilRC1995
	removeReviewer = group user/SwapnilRC1995
	submit = group user/SwapnilRC1995
[access "refs/heads/*"]
	read = group user/SwapnilRC1995
	create = group user/SwapnilRC1995
	push = +force group user/SwapnilRC1995
	pushMerge = group user/SwapnilRC1995
[access "refs/tags/*"]
	push = group user/SwapnilRC1995
	push = +force group user/SwapnilRC1995
